<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div sec:authorize="hasRole('ADMIN')">
            Welcome, Admin.
            <a th:href="@{/admin/courses}">See my courses</a>
        </div>
        <div sec:authorize="hasRole('USER')">
            Welcome, User.
            <a th:href="@{/courses}">See my courses</a>
        </div>
    </body>
</html>
