<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Courses - Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Login</h2>
        <div th:if="${param.created != null}">
            User created! Start session now.
        </div>
        <div th:if="${param.error != null}">
            There is an error login user.
        </div>
        <div th:if="${param.logout != null}">
            User logout succesfully.
        </div>
        <form th:action="@{/auth}" th:method="POST">
            <div>
                <label>Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Login</button>
        </form>
        <a th:href="@{/register}">Create Account</a>
    </body>
</html>
